
@model SCM_API.Models.Student.StudentIndexViewModel

@{
    ViewData["Title"] = "Student Search";
}

<h1>This is the student search area</h1>
@Html.ActionLink("Create new", "Create", "Student")
<div>

</div>